body{
  /* background-image:linear-gradient(to bottom right,white, rgba(227, 247, 136, 0.699), white)!important; */
  background:rgb(255, 255, 233)!important;
}

img{
  border-radius: 10px;
}

.content {
  width: 100%;
}

/* ==== MAIN PAGE ==== */
.home-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
}

.main_text {
  width: 60%;
}

.top-buffer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.home-image {
  background-image: url('assests/corn-field.jpg');
  height: 300px;
  width: 100%;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-button{
  margin-bottom: 20px;
  width: 250px;
}

.b1{
  background: #437c0e!important;
}
.b2{
  background: #6a850b!important;
}
.b3{
  background: #83850b!important;
}
.b4{
  background: #8e9106!important;
}
.b5{
  background: #9e940a!important;
}

/* ==== VIEW SENSORS PAGE ==== */

#green_circle {
  background: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px 5px rgb(15, 224, 15);
}

#yellow_circle {
  background: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px 5px rgb(238, 255, 5);
}

#red_circle {
  background: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px 5px rgb(224, 15, 15);
}

.circle_grid {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: repeat(6, 75px);
  grid-template-rows: 50px 50px 50px;
  justify-content: center;
}

.line {
  border: none;
  height: 4px;
  background: black;
  width: 880px;
  position: relative;
}

.legend {
  display: flex;
  justify-content: space-around;
}

.logout {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 20px;
  margin-right: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 23px;
}

.legend {
  display: grid;
  grid-gap: 50px 175px;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: 50px 50px 50px;
  justify-content: center;
}

.box {
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
  position: relative;
  left: 9px;
}

.yellow {
  background-color: yellow;
  position: relative;
  left: -10px;
}

.legend_boxes {
  display: grid;
  grid-gap: 50px 175px;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: 50px 50px 50px;
  position: relative;
  left: 80px;
  top: -246px;
  justify-content: center;
}

/* ==== PRODUCT INFO PAGE ==== */

/* PRODUCT INFO IMAGE */
.project_image {
  display: grid;
  grid-gap: 4rem;
  padding-top: 10px;
  padding-left: 100px;
}

/* PRODUCT INFO TEXT */
.text_container {
  width: 600px;
  margin-left: 40px;
}

.image_text_container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.components {
    margin-top: 30px;
}

/* ==== MISSION PAGE ==== */
.mission_text {
  width: 50%;
  /* padding-left: 200px; */
}

.links {
  /* position: absolute; */
  /* top: 175px; */
  padding-left: 100px;
  /* right: 400px; */
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: space-around;
}

.mission-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* ==== BACK BUTTON ==== */

.back a {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 23px;
  background-color: rgb(252, 237, 196)!important;
}

.back a:hover {
  background-color: rgb(247, 226, 169)!important;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}

/* ==== Login ==== */
input {
  text-align: center;
}

.remember {
  position: relative;
  top: 18px;
}

.psw {
  position: relative;
  top: 12px;
}

.login-btn{
  border-radius: 5px;
}